html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1fcff;
}

.center {
    text-align: center;
}

#headerDiv {
    color: #505050;
    background: linear-gradient(rgba(132, 171, 171,1), rgba(225,252,255,1));
    grid-area: header;
    align-self: center;
    font-size: 120px;
}


#footerDiv {
    grid-area: footer;
    align-self: end;
    display: flex;
    justify-content: space-around;
}

.control {
    align-self: center;
}

#sketch {
    grid-area: sketch;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#numOfSquares {
    justify-self: start;
    align-self: center;
}

#container {
    display: grid;
    grid-template-columns: auto 280px 280px auto;
    grid-template-rows: 130px 30px 560px auto;
    grid-template-areas:
        'header header header header'
        '. controls controls .'
        '. sketch sketch .'
        'footer footer footer footer';
    
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}



div {
    margin: 0;
    padding: 0;
}

a {
    color: #acc0c2;
    font-weight: bold;
    font-style: italic;
    line-height: 30px;
    text-decoration-line: none;
}

#controls {
    grid-area: controls;
    display: flex;
    justify-content: space-between;
}
